In [77]:
f = open("entropy_data.txt", "r")
dataList =[]
sNO = []
count = 0
show_n=5
k = 0

for l in f:
    
    if '#' in l:
        continue

    # substance formula entropy
    w = l.split()
    n = len(w)

    # print(n)

    if n < 2:
        continue;

    entropy = w[-1].replace('\n','')
    formula = w[-2].upper()
    substance = '-'.join(w[:-2]).replace(',','-')

    x = f'{substance.upper()},{formula},{entropy}'
        
    count += 1

    dataList.append(x)
    # print(l)
    # print(x)

    # if count == 10:
        # break

f.close()

In [78]:
f = open("entropy_data_out.txt", "w")
f.write('SUBSTANCE,FORMULA,ENTROPY'+'\n')
for l in dataList:
    f.write(l+'\n')
f.close()

In [79]:
import pandas as pd
df = pd.read_csv('entropy_data_out.txt')
df.head()

     SUBSTANCE    FORMULA  ENTROPY
0      ACETONE   (CH3)2CO   294.65
1     GLYCERIN  C3H5(OH)3   206.00
2      ETHANOL     C2H5OH   282.32
3   WATER-25°C        H2O    69.96
4  CYCLOHEXANE      C6H12   297.95

In [80]:
dfw = df.set_index('FORMULA')
dfw

                SUBSTANCE  ENTROPY
FORMULA
(CH3)2CO          ACETONE   294.65
C3H5(OH)3        GLYCERIN   206.00
C2H5OH            ETHANOL   282.32
H2O            WATER-25°C    69.96
C6H12         CYCLOHEXANE   297.95
...                   ...      ...
C2H4O2     METHYL-FORMATE   189.60
CL2              CHLORINE   222.75
F2               FLUORINE   202.52
C                GRAPHITE     5.68
C2H3O2NA   SODIUM-ACETATE   123.00

[190 rows x 2 columns]

In [82]:
dfG = dfw.loc[[
    'CO'
    ,'CO2'
    ,'CH4','C2H4'
    # ,'CH4O'
    ,'CH3OH'
    ,'H2O','O2',
    'H2'
    ,'N2'
    ]]

dfG.drop_duplicates(subset = ["SUBSTANCE"])

                 SUBSTANCE  ENTROPY
FORMULA
CO         CARBON-MONOXIDE   197.71
CO2         CARBON-DIOXIDE   213.47
CH4                METHANE   186.26
C2H4     ETHENE-(ETHYLENE)   219.24
CH3OH             METHANOL   218.57
H2O             WATER-25°C    69.96
H2O                  STEAM   188.56
O2                  OXYGEN   204.82
H2                HYDROGEN   130.46
N2                NITROGEN   191.32