In [32]:
f = open("entropy_data.txt", "r")
dataList =[]
sNO = []
count = 0
show_n=5
k = 0

for l in f:
    
    if '#' in l:
        continue

    # substance formula entropy
    w = l.split()
    n = len(w)

    # print(n)

    if n < 2:
        continue;

    entropy = w[-1].replace('\n','')
    formula = w[-2].upper()
    substance = '-'.join(w[:-2]).replace(',','-')

    x = f'{substance.upper()},{formula},{entropy}'
        
    count += 1

    dataList.append(x)
    # print(l)
    # print(x)

    # if count == 10:
        # break

f.close()

In [33]:
f = open("entropy_data_out.txt", "w")
f.write('SUBSTANCE,FORMULA,ENTROPY'+'\n')
for l in dataList:
    f.write(l+'\n')
f.close()

In [34]:
import pandas as pd
df = pd.read_csv('entropy_data_out.txt')
df.head()

     SUBSTANCE    FORMULA  ENTROPY
0      ACETONE   (CH3)2CO   294.65
1     GLYCERIN  C3H5(OH)3   206.00
2      ETHANOL     C2H5OH   282.32
3        WATER        H2O    69.96
4  CYCLOHEXANE      C6H12   297.95

In [35]:
dfw = df.set_index('FORMULA')
dfw

                SUBSTANCE  ENTROPY
FORMULA
(CH3)2CO          ACETONE   294.65
C3H5(OH)3        GLYCERIN   206.00
C2H5OH            ETHANOL   282.32
H2O                 WATER    69.96
C6H12         CYCLOHEXANE   297.95
...                   ...      ...
C2H4O2     METHYL-FORMATE   189.60
CL2              CHLORINE   222.75
F2               FLUORINE   202.52
C                GRAPHITE     5.68
C2H3O2NA   SODIUM-ACETATE   123.00

[190 rows x 2 columns]

In [36]:
dfG = dfw.loc[[
    'CO'
    ,'CO2'
    ,'CH4','C2H4'
    # ,'CH4O'
    ,'CH3OH'
    ,'H2O','O2',
    'H2'
    ,'N2'
    ]]

dfG = dfG.drop_duplicates(subset = ["SUBSTANCE"])
dfG

                 SUBSTANCE  ENTROPY
FORMULA
CO         CARBON-MONOXIDE   197.71
CO2         CARBON-DIOXIDE   213.47
CH4                METHANE   186.26
C2H4     ETHENE-(ETHYLENE)   219.24
CH3OH             METHANOL   218.57
H2O                  WATER    69.96
O2                  OXYGEN   204.82
H2                HYDROGEN   130.46
N2                NITROGEN   191.32

In [37]:
dfG.to_csv('gasif_entropy_data.csv')

In [38]:
import pandas as pd
dfPP = pd.read_csv('gasif_pp_data.csv')
dfPP.head()

,FORMULA,NO,COMPOUND-NAME,MOLWT,TFP,TBP,TC,PC,VC,LDEN,...,CPVAPA,CPVAPB,CPVAPC,CPVAPD,ANTA,ANTB,ANTC,TMN,TMX,NO.3
0,CO,46,CARBON-MONOXIDE,28.010,-205.1,-191.5,132.9,35.0,0.093,803.0,...,30.869,-0.012850,0.000028,-1.272000e-08,14.3686,530.22,-13.15,-210.0,-165.0,46.0
1,CO2,48,CARBON-DIOXIDE,44.010,-56.6,-78.5,304.2,73.8,0.094,777.0,...,19.795,0.073436,-0.000056,1.715300e-08,22.5898,3103.39,-0.16,-119.0,-69.0,48.0
2,CH4,64,METHANE,16.043,-182.5,-161.5,190.6,46.0,0.099,425.0,...,19.251,0.052126,0.000012,-1.132000e-08,15.2243,597.84,-7.16,-180.0,-153.0,64.0
3,C2H4,92,ETHYLENE,28.054,-169.2,-103.8,282.4,50.4,0.129,577.0,...,3.806,0.156590,-0.000083,1.755100e-08,15.5368,1347.01,-18.15,-153.0,-91.0,92.0
4,CH4O,65,METHANOL,32.042,-97.7,64.6,512.6,81.0,0.118,791.0,...,21.152,0.070924,0.000026,-2.852000e-08,18.5875,3626.55,-34.29,-16.0,91.0,65.0

In [39]:
dfG = dfG.reset_index()
dfG['ENTROPY']

0    197.71
1    213.47
2    186.26
3    219.24
4    218.57
5     69.96
6    204.82
7    130.46
8    191.32
Name: ENTROPY, dtype: float64

In [40]:
dfPP['DELSF'] = dfG['ENTROPY']
dfPP

,FORMULA,NO,COMPOUND-NAME,MOLWT,TFP,TBP,TC,PC,VC,LDEN,...,CPVAPB,CPVAPC,CPVAPD,ANTA,ANTB,ANTC,TMN,TMX,NO.3,DELSF
0,CO,46,CARBON-MONOXIDE,28.010,-205.1,-191.5,132.9,35.0,0.093,803.0,...,-0.012850,0.000028,-1.272000e-08,14.3686,530.22,-13.15,-210.0,-165.0,46.0,197.71
1,CO2,48,CARBON-DIOXIDE,44.010,-56.6,-78.5,304.2,73.8,0.094,777.0,...,0.073436,-0.000056,1.715300e-08,22.5898,3103.39,-0.16,-119.0,-69.0,48.0,213.47
2,CH4,64,METHANE,16.043,-182.5,-161.5,190.6,46.0,0.099,425.0,...,0.052126,0.000012,-1.132000e-08,15.2243,597.84,-7.16,-180.0,-153.0,64.0,186.26
3,C2H4,92,ETHYLENE,28.054,-169.2,-103.8,282.4,50.4,0.129,577.0,...,0.156590,-0.000083,1.755100e-08,15.5368,1347.01,-18.15,-153.0,-91.0,92.0,219.24
4,CH4O,65,METHANOL,32.042,-97.7,64.6,512.6,81.0,0.118,791.0,...,0.070924,0.000026,-2.852000e-08,18.5875,3626.55,-34.29,-16.0,91.0,65.0,218.57
5,H2O,20,WATER,18.015,0.0,100.0,647.3,220.5,0.056,998.0,...,0.001924,0.000011,-3.596000e-09,18.3036,3816.44,-46.13,11.0,168.0,20.0,69.96
6,O2,34,OXYGEN,31.999,-218.8,-183.0,154.6,50.5,0.073,1149.0,...,-0.000004,0.000017,-1.065000e-08,15.4075,734.55,-6.45,-210.0,-173.0,34.0,204.82
7,H2,19,HYDROGEN,2.016,-259.2,-252.8,33.2,13.0,0.065,71.0,...,0.009274,-0.000014,7.645100e-09,13.6333,164.90,3.19,-259.0,-248.0,19.0,130.46
8,N2,31,NITROGEN,28.013,-209.9,-195.8,126.2,33.9,0.090,805.0,...,-0.013570,0.000027,-1.168000e-08,14.9542,588.72,-6.60,-219.0,-183.0,31.0,191.32

In [41]:
dfPP['DELSF']

0    197.71
1    213.47
2    186.26
3    219.24
4    218.57
5     69.96
6    204.82
7    130.46
8    191.32
Name: DELSF, dtype: float64

In [42]:
dfPP = dfPP.set_index('FORMULA')
dfPP.to_csv('gasif_data.csv')